// Navigation Styles here

.topHead{
    display:flex;
    justify-content: space-between;
    
    height: 74px;
    align-items: center;

    @media mobile{
        .topHead{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:0 auto;
        }
        nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        }
    }
    
    .center();
    
    a{
        padding-left: 25px;
        font-size: 2rem;  
    }
}


    .line{
        .dashedLine();
        width:100%;
    }


    @media mobile{
        .topHead{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:0 auto;
        }
        nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        }
    }