// Navigation Styles here

.topHead{
    display:flex;
    justify-content: space-between;
    
    height: 74px;
    align-items: center;

    
    
    .center();
    
    a{
        padding-left: 25px;
        font-size: 2rem;  
    }
}


    .line{
        .dashedLine();
        width:100%;
    }
.container{

    @media @mobile{
        
        .topHead{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
        }
        nav{
            display: flex;
            justify-content: space-evenly 
        }
    }
}